<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
	</configSections>
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewritingnet/schemas/config/2006/07">
		<rewrites>
			<add name="virtual1" virtualUrl="^~/Home.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Home.aspx" ignoreCase="true" />
			<add name="virtual2" virtualUrl="^~/Intro.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Intro.aspx" ignoreCase="true" />
			<add name="virtual3" virtualUrl="^~/Training.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Training.aspx" ignoreCase="true" />
      <add name="virtual4" virtualUrl="^~/Recruitment.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Recruitment.aspx" ignoreCase="true" />
			<add name="virtual5" virtualUrl="^~/Contact.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Contact.aspx" ignoreCase="true" />
			<add name="virtual6" virtualUrl="^~/Service_(.*)_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Service.aspx?nid=$1&amp;status=$2" ignoreCase="true" />
			<add name="virtual7" virtualUrl="^~/lang=vi" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Home.aspx" ignoreCase="true" />
			<add name="virtual8" virtualUrl="^~/Do_contact_successfully.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ContactSucceed.aspx" ignoreCase="true" />
			<add name="virtual9" virtualUrl="^~/TrainerDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/TrainerDetail.aspx?nid=$1" ignoreCase="true" />
			<add name="virtual10" virtualUrl="^~/lang=en" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Home_En.aspx" ignoreCase="true" />
			<add name="virtual11" virtualUrl="^~/English_Home.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Home_En.aspx" ignoreCase="true" />
			<add name="virtual12" virtualUrl="^~/English_Intro.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Intro_En.aspx" ignoreCase="true" />
			<add name="virtual13" virtualUrl="^~/English_Training.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Training_En.aspx" ignoreCase="true" />
			<add name="virtual14" virtualUrl="^~/English_Recruitment.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Recruitment_En.aspx" ignoreCase="true" />
			<add name="virtual15" virtualUrl="^~/English_Contact.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Contact_En.aspx" ignoreCase="true" />
			<add name="virtual16" virtualUrl="^~/English_Service_(.*)_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Service_En.aspx?nid=$1&amp;status=$2" ignoreCase="true" />
			<add name="virtual17" virtualUrl="^~/English_Do_contact_successfully.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ContactSucceed_En.aspx" ignoreCase="true" />
			<add name="virtual18" virtualUrl="^~/English_TrainerDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/TrainerDetail_En.aspx?nid=$1" ignoreCase="true" />
			<add name="virtual19" virtualUrl="^~/Activities.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Activities.aspx" ignoreCase="true" />
			<add name="virtual20" virtualUrl="^~/ActivityDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ActivityDetail.aspx?nid=$1" ignoreCase="true" />
			<add name="virtual21" virtualUrl="^~/Events.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Events.aspx" ignoreCase="true" />
			<add name="virtual22" virtualUrl="^~/EventDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/EventDetail.aspx?nid=$1" ignoreCase="true" />
			<add name="virtual23" virtualUrl="^~/Pictures.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pictures.aspx" ignoreCase="true" />
			<add name="virtual24" virtualUrl="^~/BranchDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/BranchDetail.aspx?nid=$1" ignoreCase="true" />
			<add name="virtual25" virtualUrl="^~/English_Activities.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Activities_En.aspx" ignoreCase="true" />
			<add name="virtual26" virtualUrl="^~/English_ActivityDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/ActivityDetail_En.aspx?nid=$1" ignoreCase="true" />
			<add name="virtual27" virtualUrl="^~/English_Events.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Events_En.aspx" ignoreCase="true" />
			<add name="virtual28" virtualUrl="^~/English_EventDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/EventDetail_En.aspx?nid=$1" ignoreCase="true" />
			<add name="virtual29" virtualUrl="^~/English_Pictures.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Pictures_En.aspx" ignoreCase="true" />
			<add name="virtual30" virtualUrl="^~/English_BranchDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/BranchDetail_En.aspx?nid=$1" ignoreCase="true" />
      <add name="virtual31" virtualUrl="^~/Relax.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Relax.aspx" ignoreCase="true" />
      <add name="virtual32" virtualUrl="^~/English_Relax.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Relax_En.aspx" ignoreCase="true" />
      <add name="virtual33" virtualUrl="^~/RelaxDetail_(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/RelaxDetail.aspx?nid=$1" ignoreCase="true" />
		</rewrites>
	</urlrewritingnet>
	<appSettings />
	<connectionStrings>
  <add name="connString" connectionString="Data Source=192.168.89.173;Initial Catalog=dataPHT;User ID=userPHT;Password=123456;" providerName="System.Data.SqlClient" />
  <add name="PTHSecurityConnectionString" connectionString="Data Source=192.168.89.173;Initial Catalog=dataPHT;User ID=userPHT;Password=123456" providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages enableSessionState="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
			<add name="OnlineActiveUsers" type="OnlineActiveUsers.OnlineUsersModule" />
		</httpModules>
		<sessionState mode="InProc" timeout="120" cookieless="false"></sessionState>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="OptionInfer" value="true" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
        <handlers>
            <add name="w" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
        </handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
