vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Mar 2008 06:22:46 -0000
vti_author:SR|TRANDANG\\DANG
vti_nexttolasttimemodified:TW|29 Jan 2007 08:08:23 -0000
vti_timecreated:TR|09 Apr 2007 00:38:37 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{ECDB5D76-70BA-41D9-98DC-12BE8FAF5ED8}
vti_backlinkinfo:VX|VietTool/default_eng.asp VietTool/login.asp VietTool/noidung.asp VietTool/code/login.asp VietTool/script_tool/PropertyImg.htm VietTool/index00.asp VietTool/index01.asp VietTool/indexkh.asp VietTool/tintuc_SP.asp VietTool/code/noidung.asp VietTool/code/noidung03.asp VietTool/index.asp
vti_syncwith_www.buudiencamau.com.vn\:80:TW|29 Jan 2007 08:08:23 -0000
vti_sourcecontrolversion:SX|V1
vti_sourcecontrolcookie:SX|fp_internal
vti_cacheddtm:TX|10 Mar 2008 06:22:46 -0000
vti_filesize:IR|3865
vti_cachedlinkinfo:VX|S|bg_1.gif S|bg_1.gif S|bg_2.gif S|bg_3.gif S|t_1_4.gif
vti_cachedsvcrellinks:VX|NSUS|VietTool/images/bg_1.gif NSUS|VietTool/images/bg_1.gif NSUS|VietTool/images/bg_2.gif NSUS|VietTool/images/bg_3.gif NSUS|VietTool/images/t_1_4.gif
