vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Mar 2008 06:22:01 -0000
vti_author:SR|TRANDANG\\DANG
vti_nexttolasttimemodified:TW|01 Jun 2006 01:03:58 -0000
vti_timecreated:TR|09 Apr 2007 00:38:36 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{80A94E61-743A-45F8-9791-28E6590CDA4D}
vti_backlinkinfo:VX|VietTool/script_tool/PropertyTable.htm VietTool/script_tool/propertyTD.htm VietTool/00.asp VietTool/code/imgnews.asp VietTool/code/khachhang.asp VietTool/script_tool/PropertyImg.htm VietTool/imgnews.asp VietTool/script_tool/00.asp
vti_syncwith_www.buudiencamau.com.vn\:80:TW|01 Jun 2006 01:03:58 -0000
vti_sourcecontrolversion:SX|V1
vti_sourcecontrolcookie:SX|fp_internal
vti_cacheddtm:TX|10 Mar 2008 06:22:01 -0000
vti_filesize:IR|1869
