body
	{
	
	FONT-SIZE: 11;
	Font-family: Arial,Helvetica,Tahoma,  Verdana,   Sans-serif;
	Text-align: justify;
	COLOR: #323232;
	
	}
td
	{
	Font-family: Arial, Helvetica,Tahoma, Arial, Verdana,Sans-serif;
	Text-align: none;
	COLOR: #323232;
	}
p   {
	margin-top: 8;
	margin-bottom: 8;
	}	
.top_td {
	BORDER-TOP: #C9C9C9 1px solid;
	padding-top: 0;
	padding-bottom: 0;
	}
.top_bottom_td {
	BORDER-TOP: #C9C9C9 1px solid;
	BORDER-BOTTOM: #C9C9C9 1px solid;
	padding-top: 4;
	padding-bottom: 4;
	}
.color_1
	{
	COLOR: #FFFFFF;
	}
.color_2
	{
	COLOR: #2E62A9;
	}
.color_3
	{
	COLOR: #FF6600;
	}
.color_4
	{
	COLOR: #CC0000;
	}
.font_13
	{
	FONT-SIZE: 13;
	}
.font_12
	{
	FONT-SIZE: 12;
	}

.font_11
	{
	FONT-SIZE: 11;
	}
.font_10
	{
	FONT-SIZE: 10;
	}
	
	.nau
	{
	background-color: #6DA9EB;
	background-image: url('bg_1.gif');
	background-repeat: no-repeat;
	background-position: right bottom
	}

.bg_1
	{
	background-color: #6DA9EB;
	background-image: url('bg_1.gif');
	background-repeat: no-repeat;
	background-position: right bottom
	}
.bg_2
	{
	background-color: #D8D8D8;
	background-image: url('bg_2.gif');
	background-repeat: no-repeat;
	background-position: right bottom
	}
.bg_3
	{
	background-color: #D8D8D8;
	background-image: url('bg_3.gif');
	background-repeat: no-repeat;
	background-position: right bottom
	}
.bg_4
	{
	background-color: #F2F2F2;
	background-image: url('t_1_4.gif');
	background-repeat: no-repeat;
	background-position:   left 50%;
	}
.text_line_through
	{
	text-decoration: line-through;
	}
.sinco
	{
	color:#FFFFFF;
	}
.text_lowercase {
	text-transform: uppercase;
	LETTER-SPACING: 2;
	}
.border_images {
	border: 2px solid #CCCCCC;
	}
.left {
	FLOAT: left;
}
.right {
	FLOAT: right;
}
.margin_top_1 {
	padding-top: 1;
}
.margin_top_4 {
	padding-top: 4;
}
.margin_bottom_1 {
	padding-bottom: 1;
}
a:link {
	COLOR: #2E62A9;
	TEXT-DECORATION: underline;
	}
a:visited {
	COLOR: #2E62A9;
	TEXT-DECORATION: underline;
	}
a:hover {
	COLOR: #323232;
	TEXT-DECORATION: none;
	}
a:link.1 {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;

	}
a:visited.1 {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;

	}
a:hover.1 {
	COLOR: #FFFF00;
	TEXT-DECORATION: none;
	}
a:link.2 {
	COLOR: #666666;
	TEXT-DECORATION: none;
	}
a:visited.2 {
	COLOR: #666666;
	TEXT-DECORATION: none;
	}
a:hover.2 {
	COLOR: #000000;
	TEXT-DECORATION: none;
	}
a:link.3 {
	COLOR: #AADDFF;
	TEXT-DECORATION: none;
	}
a:visited.3 {
	COLOR: #AADDFF;
	TEXT-DECORATION: none;

	}
a:hover.3 {
	COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	}
a:link.4 {
	COLOR: #2E62A9;
	TEXT-DECORATION: underline;

	}
a:visited.4 {
	COLOR: #2E62A9;
	TEXT-DECORATION: underline;

	}
a:hover.4 {
	COLOR:CCFFFF#;
	TEXT-DECORATION: none;
	}
a:link.5 {
	COLOR: #cc0000;
	}
a:visited.5 {
	COLOR: #cc0000;
	}
a:hover.5 {
	COLOR: #000000;
	TEXT-DECORATION: underline;
	}
.box_input {
	border:1px solid #C0C0C0;
	BACKGROUND-COLOR: #DBE6FD;
	Font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
    height : 18
}
.box_input_2 {
	border:1px solid #999999; FONT-SIZE: 11;
	COLOR: #323232;
	Font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FFFFFF;
	Width : 100%
}
.box_input_3 {
	border:1px solid #5C5C5C; FONT-SIZE: 11;
	COLOR: #323232;
	Font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FFFFFF;
	Width : 100%;
	height : 19
}
.submitbutton {
	BORDER-TOP: 2px solid #A3E0F4;
	BORDER-LEFT: 1px solid #A3E0F4;
	BORDER-RIGHT: 1px solid #1083D1;
	BORDER-BOTTOM: 2px solid #1083D1;
	FONT-SIZE: 11;
	COLOR: #FFFFFF;
	Font-family:  Tahoma, Arial, Verdana, Helvetica, sans-serif;
	BACKGROUND-COLOR: #4B9BE0;
	font-weight: bold
	}