@charset "utf-8";
/* CSS Document */

body
{
FONT-FAMILY: Arial, Helvetica;
font-size:12px;
}
.link1
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#0066FF;
text-decoration:none;
}
.link1 A:link
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#0066FF;
text-decoration:none;
}
.link1 A:visited
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#0066FF;
text-decoration:none;
}
.link1 A:hover
{
color:#0066FF;
font-weight:bold;
text-decoration:underline;
}
.link2
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
}
.link2 A:link
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
}
.link2 A:visited
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
text-decoration:none;
}
.link2 A:hover
{
color:#FFFFFF;
font-weight:bold;
text-decoration:underline;
}
.link3
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#CC3300;
text-decoration:none;
}
.link3 A:link
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#CC3300;
text-decoration:none;
}
.link3 A:visited
{
font:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#CC3300;
text-decoration:none;
}
.link3 A:hover
{
color:#CC3300;
font-weight:bold;
text-decoration:underline;
}